.content {
    padding-top: 10px;
  }

  .row {
    display: flex;
    gap: 10px;
  }
  

  .example-right-align {
    text-align: right;
  }

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
  

  